@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor01: #FAFAFA;
    --cor02: #F4F4F5;
    --cor03: #A1A1AA;
    --cor04: #27272A;
    --cor05: #18181B;
    --cor06: #09090B;

    --fonte-padrao: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: var(--fonte-padrao);
    background-color: var(--cor06);
    color: var(--cor01);
}

/* App */

#app {
    padding: 40px 20px;
    max-width: 320px;
    margin: auto;
}

/* NavBar */

.nav-bar {
    display: flex;
    background-color: var(--cor01);
    border-radius: 20px 20px 0px 0px;
}

.nav-long {
    display: none;
}

.menu-burger {
    display: flex;
    background: transparent url('../Image/SVG/menu-burger-horizontal-svgrepo-com.svg') center right no-repeat scroll;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 20px;
    margin: 10px;
}

/* Intro */

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor05);
    gap: 32px;
    padding: 30px 0px;
    margin: auto;
}

.apresentacao-nome {
    background-color: var(--cor04);
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.apresentacao-nome:hover {
    transform: scale(0.98);
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    transition: all 0.2s;
}

.intro-programmer {
    background: transparent url('../Image/SVG/Programmer-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

/* Sobre mim */

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor05);
    gap: 32px;
    padding: 30px 0px;
    margin: auto;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    background: var(--cor01) url('../Image/New-Imagens/man_in_suit.jpeg') center center no-repeat scroll;
    background-size: cover;
    border-radius: 20px;
    transition: all .3s;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.foto-perfil:hover {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    transition: all .2s;
}

.sobre-mim-texto {
    background-color: var(--cor04);
    border-radius: 20px;
    text-align: justify;
    font-size: 1.2em;
    width: 250px;
    padding: 20px;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.sobre-mim-texto h3 {
    margin-bottom: 12px;
}

.sobre-mim-texto p {
    font-size: 12px;
}

/* Projetos */

.projeto {
    display: flex;
    background-color: var(--cor05);
    gap: 32px;
    padding: 30px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.projeto h3 {
    padding: 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

/* Slider */

.slider {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 250px;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: min-content;
    position: relative;
    transition: all .2s;
}

.slide img {
    width: 250px;
    border-radius: 20px;
    border: solid 2px var(--cor01);
}

.manual-navigation {
    display: flex;
    position: absolute;
    margin-top: -60px;
    justify-content: center;
    width: 250px;
}

.manual-btn {
    border: solid 2px var(--cor01);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: all .2s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--cor01);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#radio5:checked~.first {
    margin-left: -100%;
}

.navigation-auto div {
    border: solid 2px darkblue;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;
}

.navigation-auto {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 190px;
    width: 250px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: var(--cor01);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: var(--cor01);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: var(--cor01);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: var(--cor01);
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background-color: var(--cor01);
}

.projeto-innovation {
    background: transparent url('../Image/SVG/Innovation-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

/* Conhecimentos */

.conhecimentos-operating {
    background: transparent url('../Image/SVG/Operating-system-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

.conhecimentos {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: var(--cor05);
    gap: 32px;
    margin: auto;
}

.conh>div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 120px;
    border: solid 2px var(--cor04);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    width: 200px;
    height: 120px;
    margin: 10px;
    transition: all .2s;
}

.con01 {
    background: var(--cor05) url('../Image/SVG/icons8-html-color/icons8-html-96.svg') center center no-repeat scroll;
}

.con01:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 111, 0, 0.9);
}

.con02 {
    background: var(--cor05) url('../Image/SVG/icons8-css-color/icons8-css-96.svg') center center no-repeat scroll;
}

.con02:hover {
    box-shadow: 0px 0px 30px 1px rgba(3, 154, 229, 0.9);
}

.con03 {
    background: var(--cor05) url('../Image/SVG/icons8-javascript-color/icons8-javascript-96.svg') center center no-repeat scroll;
}

.con03:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 213, 0, 0.9);
}

.con04 {
    background: var(--cor05) url('../Image/SVG/icons8-java-color/icons8-java-96.svg') center center no-repeat scroll;
}

.con04:hover {
    box-shadow: 0px 0px 30px 1px rgba(244, 67, 54, 0.9);
}

/* Fale comigo */

.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contato {
    display: flex;
    flex-direction: column;
}

.card-bg {
    color: var(--cor02);
    display: flex;
    background-color: var(--cor06);
    border: 1px solid var(--cor04);
    border-radius: 15px;
    font-size: 12px;
    padding: 15px;
    width: 200px;
    gap: 10px;
    margin: 10px 0px;
    align-items: center;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.card-bg a {
    color: var(--cor02);
    text-decoration: none;
}

.form input {
    color: var(--cor02);
    background-color: var(--cor06);
    border: 2px solid var(--cor04);
    width: 200px;
    padding: 20px 15px;
    margin: 10px 0px;
    border-radius: 10px;
    outline: none;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.form input:focus-within {
    outline: 2px solid var(--cor01);
}

.form button {
    background-color: var(--cor04);
    color: var(--cor02);
    font-size: 1em;
    border: 1px solid var(--cor01);
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin: 10px 0px;
    outline: none;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
    transition: all .2s;
}

.form button:focus-within {
    outline: 2px solid var(--cor01);
}

.form button:hover {
    background-color: var(--cor03);
    color: var(--cor06);
}

.contatos-live {
    background: transparent url('../Image/SVG/Live-collaboration-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

@media (width > 1024px) {
    #app {
        max-width: 960px;
    }

    /* Nav */

    .menu-burger {
        display: none;
    }

    .nav-long {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
    }

    .nav-bar li {
        margin: 10px;
    }

    .nav-bar a {
        color: var(--cor03);
        text-decoration: none;
    }

    .nav-bar a:hover {
        color: var(--cor06);
    }

    /* Intro */

    .apresentacao-nome {
        font-size: 2em;
    }

    .intro-programmer {
        width: 350px;
        height: 350px;
    }

    /* Sobre mim */

    .foto-perfil {
        width: 350px;
        height: 350px;
    }

    .foto-perfil:hover {
        width: 350px;
        height: 350px;
    }

    .sobre-mim-texto {
        width: 500px;
    }

    .sobre-mim-texto p {
        font-size: 1em;
    }

    /* Projeto */

    .cards {
        display: flex;
        gap: 32px;
        width: 100%;
    }

    /* Slider */

    .slider {
        margin: 0 auto;
        width: 450px;
        height: 350px;
        overflow: hidden;
    }

    .slides {
        display: flex;
        width: 400%;
        height: 350px;
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
        transition: all .2s;
    }

    .slide img {
        width: 450px;
        border-radius: 20px;
    }

    .manual-navigation {
        display: flex;
        position: absolute;
        margin-top: -20px;
        justify-content: center;
        width: 450px;
    }

    .manual-btn {
        border: solid 2px var(--cor01);
        border-radius: 10px;
        cursor: pointer;
        padding: 5px;
        transition: all .2s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: var(--cor01);
    }

    .navigation-auto div {
        border: solid 2px darkblue;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: all .2s;
    }

    .navigation-auto {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 330px;
        width: 450px;
    }

    .projeto-innovation {
        width: 350px;
        height: 350px;
    }

    /* Conhecimentos */

    .conhecimentos-operating {
        width: 350px;
        height: 350px;
    }

    .conhecimentos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        background-color: var(--cor05);
        gap: 32px;
        padding: 30px 0px;
        margin: auto;
    }

    .conh {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        align-content: center;
    }

    /* contato */

    .contatos {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
    }

    .contatos-live {
        width: 350px;
        height: 350px;
    }
}

footer {
    background-color: black;
    color: var(--cor02);
    text-align: center;
    padding: 15px 20px;
    border-radius: 0px 0px 20px 20px;
}