@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor01: #FAFAFA;
    --cor02: #F4F4F5;
    --cor03: #A1A1AA;
    --cor04: #27272A;
    --cor05: #18181B;
    --cor06: #09090B;
    --cor07: #FF0000;
    --cor08: #9B0000;

    --fonte-padrao: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: var(--fonte-padrao);
    background-color: var(--cor06);
    color: white;
}

/* NavBar */

.nav-bar {
    display: flex;
    background-color: var(--cor01);
    border-radius: 20px 20px 0px 0px;
}

.nav-long {
    display: none;
}

.menu-burger {
    display: flex;
    background: transparent url('../Image/SVG/menu-burger-horizontal-svgrepo-com.svg') center right no-repeat scroll;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 20px;
    margin: 10px;
}

/* App */
#app {
    padding: 40px 20px;
    max-width: 320px;
    margin: auto;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor05);
    gap: 32px;
    border-radius: 0px;
    padding: 30px 0px;
    margin: auto;
}

.nome {
    height: fit-content;
    width: fit-content;
    background-color: var(--cor04);
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.nome:hover {
    border: solid 3px var(--cor01);
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    transition: all .2s;
}

.programmer {
    background: transparent url('../Image/SVG/Programmer-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor05);
    gap: 32px;
    padding: 30px 0px;
    margin: auto;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    background: var(--cor01) url('../Image/New-Imagens/man_in_suit.jpeg') center center no-repeat scroll;
    background-size: cover;
    border-radius: 20px;
    transition: all .3s;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.foto-perfil:hover {
    width: 250px;
    height: 250px;
    border: solid 3px var(--cor01);
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    transition: all .2s;
}

.sobre-mim-texto {
    background-color: var(--cor04);
    border-radius: 20px;
    text-align: justify;
    font-size: 1.2em;
    width: 250px;
    padding: 20px;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.sobre-mim-texto h3 {
    margin-bottom: 12px;
}

.sobre-mim-texto p {
    font-size: 12px;
}

.projeto {
    display: flex;
    background-color: var(--cor05);
    gap: 32px;
    padding: 30px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.projeto h3 {
    padding: 0px;
}

.card {
    flex-grow: 1;
    flex-basis: 200px;
    width: 250px;
    height: 250px;
    background-color: var(--cor01);
    border-radius: 20px;
    transition: all .3s;
    margin-bottom: 32px;
    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.card2 {
    width: 250px;
    height: 250px;
    background: var(--cor05) url('../Image/New-Imagens/P-mustang.jpg') center center no-repeat scroll;
    background-size: cover;
    border-radius: 20px;
    transition: all .2s;
}

.card2:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
    transform: scale(0.98);
    border-radius: 20px;
}

.card-balls {
    display: flex;
    justify-content: center;
}

.balls01,
.balls02,
.balls03,
.balls04,
.balls05 {
    background-color: var(--cor05);
    border: solid 2px var(--cor04);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.balls03 {
    background-color: var(--cor03);
    border: solid 1px var(--cor02);
}

.card-balls :hover {
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.3);
}

.innovation {
    background: transparent url('../Image/SVG/Innovation-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

.operating {
    background: transparent url('../Image/SVG/Operating-system-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}

.conhecimentos {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: var(--cor05);
    gap: 32px;
    margin: auto;
}

.conh {
    display: flex;
    flex-wrap: wrap;
}

.con01,
.con02,
.con03,
.con04,
.con05 {
    background-color: var(--cor05);
    border: solid 2px var(--cor04);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    flex-grow: 1;
    flex-basis: 120px;
    width: 120px;
    height: 120px;
    margin: 10px;
}

/*
.contato {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: var(--cor05);
    gap: 32px;
    margin: auto;
}

#place {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 22px 16px;
    font-size: 14px;
    margin-bottom: 32px;
}

.card-bg {
    background: #18181B;

    box-shadow:
        0px 8px 8px rgba(0, 0, 0, 0.1),
        0px 4px 4px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
        inset 0px 1px 0px rgba(255, 255, 255, 0.03);

    border-radius: 12px;
}

.live {
    background: transparent url('../Image/SVG/Live-collaboration-amico.svg') center center no-repeat scroll;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 250px;
}
*/

@media (width > 1024px) {
    #app {
        max-width: 960px;
    }

    .menu-burger {
        display: none;
    }

    .nav-long {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
    }

    .nav-bar li {
        margin: 10px;
    }

    .nav-bar a {
        color: var(--cor03);
        text-decoration: none;
    }

    .nav-bar a:hover {
        color: var(--cor06);
    }

    .nome {
        font-size: 2em;
    }

    .foto-perfil {
        width: 350px;
        height: 350px;
    }

    .foto-perfil:hover {
        width: 350px;
        height: 350px;
    }

    .programmer {
        width: 350px;
        height: 350px;
    }

    .sobre-mim-texto {
        width: 500px;
    }

    .sobre-mim-texto p {
        font-size: 1em;
    }

    .cards {
        display: flex;
        gap: 32px;
        width: 100%;
    }

    .card {
        width: 350px;
        height: 350px;
    }

    .card2 {
        width: 100%;
        height: 350px;
    }

    .innovation {
        width: 350px;
        height: 350px;
    }

    .operating {
        width: 350px;
        height: 350px;
    }

    .conhecimentos {
        display: flex;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
        background-color: var(--cor05);
        gap: 32px;
        padding: 30px 0px;
        margin: auto;
    }

    .conh {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }

    /*
    .contato {
        display: flex;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
        background-color: var(--cor05);
        gap: 32px;
        padding: 30px 0px;
        margin: auto;
    }

    .live {
        width: 350px;
        height: 350px;
    }
    */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 0px 0px 20px 20px;
}